/* Stylesheet for Now You See Me photo gallery by Charisse Gebhart
   Based on CSS from dwuser.com\education\content\creating-
   responsive-tiled-layout-with-pure-css */

body {
    color:white;
    background-color:black;
    font:20px sans-serif;
    margin-left:15px
}

.grid {
    overflow:hidden;
    margin:10px;
}

.upload {
    margin-left:20px;
}

